.connection-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .connection-card .card-title {
    color: #000; 
  }

.form-field {
    margin-bottom: 2rem; 
    margin-top: 2rem;
  }

.form-control {
    text-align: center;
    background-color: #B5B5F7;
  }

.mainFromLogo {
    background-color: #8C8CEC;

  }

.custom-submit-btn {
    background-color: #ECEC8C;
    border-color: #ECEC8C;
    color: #000000;
  }
  
.custom-submit-btn:hover,
.custom-submit-btn:focus,
.custom-submit-btn:active,
.custom-submit-btn:active:focus {
    background-color: #d4d47a;
    border-color: #d4d47a;
  }

.custom-link {
    color: #000000;
  }
  
.custom-link:hover {
    color: #ECEC8C;
    text-decoration: underline;
  }
  
@keyframes border-animation {
    0% {
      border-color: #ECEC8C;
      box-shadow: 0 0 20px #ECEC8C;
    }
    50% {
      border-color: #8C8CEC;
      box-shadow: 0 0 20px #8C8CEC;
    }
    100% {
      border-color: #ECEC8C;
      box-shadow: 0 0 20px #ECEC8C;
    }
  }
  
.animated-border {
    border: 3px solid #ECEC8C;
    animation: border-animation 3s infinite;
  }
  
  body {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Noto Serif Georgian', serif; */
  }
  
  .dusterA {
    font-family: 'DusterABThick', sans-serif;
    font-size: 2.5em;
  }