.navbar-fixed-top {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: 1030;
}


.navbar-custom {
    z-index: 2000;
    position: sticky;
    top: -0px;
  }

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .text-image {
    margin-left: -50%; 
    width: 300px; 
    height: auto; 
  }
  
  .dark .text-image {
    filter: invert(1);
  }

  .custom-post-btn {
    font-size: 1.4rem !important;
    font-weight: bolder !important;
    padding: 5px 20px;
    border-radius: 30px !important;
    width: 200%;
    
  }

  /* .nav-items-container {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  } */

  .nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .user-info-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .post-button {
    padding-right: -50px;
  }
  
  .theme-toggle-button {
    margin-left: 180px;
  }
  

  .nav-buttons-container{
    flex: 1;
    min-width: 15%;
    margin-left: -299px !important;
    margin-right: 50px;
  }


  /* .user-info-container {
    flex: 1;
    min-width: 15%;
  } */
  
  